<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div id="actor-id" data-actor="{{actor._id}}" style="display: none"></div>
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150" />

        
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
            <div class="cflexrow save-scroll">
                {{#each data.stats as |stat id|}}
                    {{#ifNotEquals id 'soak'}}
                    <div class="resource">
                        <div class="split-box">
                            <h1 class="resourceName">{{stat.name}}</h1>
                            <div class="content">
                                <div class="left">
                                    {{#ifNotEquals id 'defence'}}
                                    <input type="text" name="data.stats.{{id}}.max" value="{{stat.max}}"
                                        data-dtype="Number" />
                                    <label>Threshold</label>
                                    {{else}}
                                    <input type="text" name="data.stats.{{id}}.ranged" value="{{stat.ranged}}"
                                        data-dtype="Number" />
                                    <label>Ranged</label>
                                    {{/ifNotEquals}}
                                </div>
                                <div class="divider"></div>
                                <div class="right">
                                    {{#ifNotEquals id 'defence'}}
                                    <input type="text" name="data.stats.{{id}}.value" value="{{stat.value}}"
                                        data-dtype="Number" />
                                    <label>Current</label>
                                    {{else}}
                                    <input type="text" name="data.stats.{{id}}.melee" value="{{stat.melee}}"
                                        data-dtype="Number" />
                                    <label>Melee</label>
                                    {{/ifNotEquals}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    {{!-- Soak Box --}}
                    <div class="resource">
                        <div class="split-box">
                            <h1>{{stat.name}}</h1>
                            <div class="content soak">
                                <div class="center">
                                    <input type="text" name="data.stats.{{id}}.value" value="{{stat.value}}"
                                        data-dtype="Number" />
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/ifNotEquals}}               
                {{/each}}
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="characteristics">Characteristics</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="talents">Talents</a>        
        <a class="item" data-tab="misc">Misc</a>
        <a class="item" data-tab="crits">Critical injuries</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body save-scroll">
        {{!-- Characteristics Tab --}}
        <div class="tab characteristics active" data-group="primary" data-tab="characteristics">

            {{!-- Characteristics Scores --}}

            <ul class="flexrow characteristics-list">
                {{#each data.characteristics as |characteristic id|}}
                <li data-ability="{{id}}">
                    {{!-- If we set the type to text, we don't have to deal with hiding the number controls --}}
                    <input name="data.characteristics.{{id}}.value" value="{{characteristic.value}}" maxlength="1"
                        type="text" pattern="[1-7]" data-dtype="Number" placeholder="1" />
                    <label>{{characteristic.label}}</label>
                </li>
                {{/each}}
            </ul>

            <table>
                <thead>
                    <tr class="characteristicsTable">
                        <th>Skill</th>
                        <th>Characteristic</th>
                        <th>Career</th>
                        <th>Rank</th>
                        <th>Roll</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data.skills as |skill id|}}
                    <tr data-ability="{{id}}" class="skill">

                        <td style="font-weight: bold;">{{id}}</td>
                        <td>{{#ifEquals id "Lightsaber" }}
                            <select name="data.skills.{{id}}.characteristic" data-type="String">
                                {{#select skill.characteristic}}
                                {{#each ../data.characteristics as |characteristic cId|}}
                                    <option value={{cId}}>{{cId}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                            {{else}}
                            {{skill.characteristic}}
                            {{/ifEquals}}
                        </td>
                        {{#if skill.career}}
                        <td class="tdCenter"><input type="checkbox" name="data.skills.{{id}}.career" checked/></td>   
                        {{else}}
                        <td class="tdCenter"><input type="checkbox" name="data.skills.{{id}}.career"/></td>   
                        {{/if}}       
                        <td class="tdCenter">
                            <input name="data.skills.{{id}}.value" value="{{skill.value}}" type="number" min="0" max="5"
                                data-dtype="Number" placeholder="0" />
                        </td>
                        <td class="rollTd">
                            <!--                        <img class="roll-button" src="icons/dice/d20black.svg">-->
                            <div class="roll-button dice-pool"></div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                <div class="weapon-list inventory-list">
                    <h4 class="inventoryHeader">Weapons</h4>
                    {{#each actor.items as |item id|}}
                    {{#ifEquals item.type 'weapon'}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name">{{item.name}} PEW PEW</h4>
                        <input class="item-name" name="actor.items.{{id}}.data.quantity" value="{{item.data.quantity}}"></h4>
                        <h4 class="item-name">{{item.data.weight}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/ifEquals}}
                    {{/each}}
                </div>
                <div class="armor-list inventory-list">
                    <h4 class="inventoryHeader">Armor</h4>
                    {{#each actor.items as |item id|}}
                    {{#ifEquals item.type 'armor'}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name">{{item.name}} PEW PEW</h4>
                        <input class="item-name" name="actor.items.{{id}}.data.quantity" value="{{item.data.quantity}}"></h4>
                        <h4 class="item-name">{{item.data.weight}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/ifEquals}}
                    {{/each}}
                </div>
                <div class="item-list inventory-list">
                    <h4 class="inventoryHeader">Items</h4>
                    {{#each actor.items as |item id|}}
                    {{#ifEquals item.type 'item'}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name">{{item.name}} PEW PEW</h4>
                        <input class="item-name" name="actor.items.{{id}}.data.quantity" value="{{item.data.quantity}}"></h4>
                        <h4 class="item-name">{{item.data.weight}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/ifEquals}}
                    {{/each}}
                </div>                
            </ol>
        </div>

        {{!-- Talents Tab --}}
        <div class="tab talents active" data-group="primary" data-tab="talents">
            
        </div>

        {{!-- Misc Tab --}}
        <div class="tab misc" data-group="primary" data-tab="misc">
            
        </div>


        {{!-- Crits Tab --}}
        <div class="tab crits" data-group="primary" data-tab="crits">
            <div class="crit-list"">

                <table style="table-layout: fixed;">
                    <thead>
                        <tr class="characteristicsTable">
                            <th style="width: 5em">Number</th>
                            <th style="width: 7.5em;">Name</th>
                            <th>Difficulty</th>
                            <th style="width: 50%">Description</th>
                            <th style="width: 4em">
                                {{#if owner}}
                                <div class="crit-controls">
                                    <a class="crit-control" data-action="create" data-type="crit" title='Add Crit'>
                                        <i class="fas fa-plus"></i> Add
                                    </a>
                                </div>
                                {{/if}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each actor.items as |item id|}}
                        {{#ifEquals item.type 'crit'}}
                        <tr data-item-id="{{item._id}}" class="crit">
    
                            <td class="tdCenter"><div class="slide">{{item.data.number}}</div></td>
                            <td class="tdCenter"><div class="slide">{{item.name}}</div></td>
                            <td class="tdCenter critDifficulty" data-difficulty="{{item.data.difficulty}}"><div class="slide"></div></td>       
                            <td>
                                <div class="slide" style="max-height: 50px; overflow: auto;">

                                </div>
                            </td>
                            <td class="tdCenter">
                                <div class="crit-controls slide">
                                    <a class="crit-control crit-edit" data-action="edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="crit-control crit-delete" data-action="delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                        {{/ifEquals}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</form>